* {
  margin: 0 0;
  padding: 0 0;
}

.player-setting {
  width: 110px;
  height: 30px;
  padding: 0 0;
  font-size: 22px;
  margin: 0 auto;
  margin-top: 44px;
}

.preview-setting {
  width: 1020px;
  height: 849px;
  padding: 0 0;
  margin: 0 auto;
  background: #FFFFFF;
  border-radius: 4px;
  margin-top: 32px;
}

.top {
  width: 1020px;
  height: 55px;
  background: #FFFFFF;
  border-radius: 4px 6px 0px 0px;
}

.marquee-wrap {
  display: flex;
  justify-content: space-between;
}

.marquee-config {
  width: 450px;
  display: inline-block;
}

.player-wrap {
  width: 520px;
  display: inline-block;
  margin-top: 41px;
}

#videoNode {
  width: 520px;
  height: 293px;
  overflow: hidden;
  background: #000000;
}

